@media only screen and (min-width: 768px) {
  .todo-detail-page .page-content {
    width: 85%;
    margin: auto; } }

@media only screen and (min-width: 1026px) {
  .todo-detail-page .page-content {
    width: 65%;
    margin: auto; } }

.todo-detail-page .title {
  padding: 30px 10px; }

.todo-detail-page .card {
  background-color: white; }

.todo-detail-page .btn-submit {
  margin: auto;
  display: block;
  min-width: 180px; }

.todo-detail-page .note {
  background-color: #FAF8DF;
  width: 100%;
  padding: 10px;
  border: 0.5px solid #eae37b;
  margin-top: 10px; }
