.todo-detail-page {
    .title {
        padding: 30px 10px;
    }
    .card {
        background-color: white;
    }
    .btn-submit {
        margin: auto;
        display: block;
        min-width: 180px;
    }
    .note {
        background-color: #FAF8DF;
        width: 100%;
        padding: 10px;
        border: 0.5px solid #eae37b;
        margin-top: 10px;
    }
}