.app-toolbar {
  background-color: #ffa587;
  padding: 15px;
  color: #fff;
  font-size: 18px; }
  .app-toolbar .back-button {
    cursor: pointer;
    color: white; }
  .app-toolbar .right-icon {
    cursor: pointer; }
