.todo-list-page {
    background-color: #eeeeee;
    overflow: scroll;

    .page-content {
        margin-bottom: 60px;
    }

    .check-icon {
        font-size: 21px;
        color: green;
    }

    .list-item {
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: #333;
    }
}