.todo-list-page {
    background-color: #eeeeee;
    margin-bottom: 100px;

    .check-icon {
        font-size: 21px;
        color: green;
    }

    .list-item {
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: #333;
    }
}