.todo-list-page {
  background-color: #eeeeee;
  overflow: scroll; }
  .todo-list-page .page-content {
    margin-bottom: 60px; }
  .todo-list-page .check-icon {
    font-size: 21px;
    color: green; }
  .todo-list-page .list-item {
    cursor: pointer; }
  .todo-list-page a {
    text-decoration: none;
    color: #333; }
